<h1>Astronauts</h1>
<h3>Average age: <%= Astronaut.average_age %></h3>
<% @astronauts.each do |astronaut|%>
  <h2><%= astronaut.name %></h2>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
  <h4><%=astronaut.name%>'s missions: </h4>
  <p>  <% astronaut.missions.each do |mission| %></p>
    <%= mission.title %>
  <% end %>
<% end %>
